apiVersion: v1
kind: Secret
metadata:
  name: {{ include "common.names.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "common.labels.standard" . | nindent 4 }}
type: Opaque
data:
  IPFS_PINATA_API_KEY: {{ .Values.settings.ipfsPinataApiKey | b64enc | quote }}
  IPFS_PINATA_SECRET_KEY: {{ .Values.settings.ipfsPinataSecretKey | b64enc | quote }}
  SENTRY_DSN: {{ .Values.settings.sentryDsn | b64enc | quote }}
  ORACLE_PRIVATE_KEY: {{ .Values.settings.oraclePrivateKey | b64enc | quote }}
  AWS_ACCESS_KEY_ID: {{ .Values.settings.awsAccessKeyID | b64enc | quote }}
  AWS_SECRET_ACCESS_KEY: {{ .Values.settings.awsSecretAccessKey | b64enc | quote }}
  PY_IPFS_HTTP_CLIENT_DEFAULT_USERNAME: {{ .Values.settings.pyIpfsHttpClientDefaultUsername | b64enc | quote }}
  PY_IPFS_HTTP_CLIENT_DEFAULT_PASSWORD: {{ .Values.settings.pyIpfsHttpClientDefaultPassword | b64enc | quote }}
