apiVersion: v1
kind: Secret
metadata:
  name: {{ template "oracle.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "oracle.labels" . | nindent 4 }}
type: Opaque
data:
  IPFS_PINATA_API_KEY: {{ .Values.settings.ipfsPinataApiKey | b64enc | quote }}
  IPFS_PINATA_SECRET_KEY: {{ .Values.settings.ipfsPinataSecretKey | b64enc | quote }}
  {{ - if contains "mainnet" .Values.settings.enabledNetworks }}
  MAINNET_ORACLE_PRIVATE_KEY: {{ .Values.settings.oraclePrivateKey.mainnet | b64enc | quote }}
  MAINNET_AWS_ACCESS_KEY_ID: {{ .Values.settings.awsAccessKeyID.mainnet | b64enc | quote }}
  MAINNET_AWS_SECRET_ACCESS_KEY: {{ .Values.settings.awsSecretAccessKey.mainnet | b64enc | quote }}
  {{ - end }}
  {{ - if contains "goerli" .Values.settings.enabledNetworks }}
  GOERLI_ORACLE_PRIVATE_KEY: {{ .Values.settings.oraclePrivateKey.goerli | b64enc | quote }}
  GOERLI_AWS_ACCESS_KEY_ID: {{ .Values.settings.awsAccessKeyID.goerli | b64enc | quote }}
  GOERLI_AWS_SECRET_ACCESS_KEY: {{ .Values.settings.awsSecretAccessKey.goerli | b64enc | quote }}
  {{ - end }}
  {{ - if contains "perm_goerli" .Values.settings.enabledNetworks }}
  PERM_GOERLI_ORACLE_PRIVATE_KEY: {{ .Values.settings.oraclePrivateKey.permGoerli | b64enc | quote }}
  PERM_GOERLI_AWS_ACCESS_KEY_ID: {{ .Values.settings.awsAccessKeyID.permGoerli | b64enc | quote }}
  PERM_GOERLI_AWS_SECRET_ACCESS_KEY: {{ .Values.settings.awsSecretAccessKey.permGoerli | b64enc | quote }}
  {{ - end }}
  {{- if contains "gnosis" .Values.settings.enabledNetworks }}
  GNOSIS_ORACLE_PRIVATE_KEY: {{ .Values.settings.oraclePrivateKey.gnosis | b64enc | quote }}
  GNOSIS_AWS_ACCESS_KEY_ID: {{ .Values.settings.awsAccessKeyID.gnosis | b64enc | quote }}
  GNOSIS_AWS_SECRET_ACCESS_KEY: {{ .Values.settings.awsSecretAccessKey.gnosis | b64enc | quote }}
  {{- end }}
  {{- range $key, $value := .Values.settings.extraSecret }}
  {{ $key }}: {{ $value | b64enc | quote -}}
  {{- end -}}