apiVersion: v1
kind: Secret
metadata:
  name: {{ template "oracle.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "oracle.labels" . | nindent 4 }}
type: Opaque
data:
  IPFS_PINATA_API_KEY: {{ .Values.settings.ipfsPinataApiKey | b64enc | quote }}
  IPFS_PINATA_SECRET_KEY: {{ .Values.settings.ipfsPinataSecretKey | b64enc | quote }}
  {{ template "network_prefix" .}}_AWS_ACCESS_KEY_ID: {{ .Values.settings.awsAccessKeyID | b64enc | quote }}
  {{ template "network_prefix" .}}_AWS_SECRET_ACCESS_KEY: {{ .Values.settings.awsSecretAccessKey | b64enc | quote }}

  {{ template "network_prefix" .}}_ORACLE_PRIVATE_KEY: {{ .Values.settings.oraclePrivateKey | b64enc | quote }}
