securityContext:
  fsGroup: 1001
  runAsUser: 1001

image:
  repository: "stakewiselabs/horcrux"
  tag: "HEAD-ecddf94"
  pullPolicy: IfNotPresent
  pullSecrets: [ ]

dispatcher:
  # Whether to deploy dispatcher or not.
  enabled: true

  authenticationKey: ""

  # For GKE load balancer ingress to work, the service type must be NodePort
  # https://cloud.google.com/kubernetes-engine/docs/concepts/ingress
  serviceType: ClusterIP

  # Configure ingress
  # https://kubernetes.io/docs/concepts/services-networking/ingress/
  ingress:
    enabled: false
    annotations: { }
    tls: [ ]
    path: "/*"
    hosts: [ ]

  # Configure resource requests and limits.
  # http://kubernetes.io/docs/user-guide/compute-resources/
  resources:
    requests:
      cpu: 10m
      memory: 150Mi

  # Affinity Settings
  # https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
  affinity: { }

  # Toleration Settings
  # https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/
  tolerations: [ ]

  # used to assign priority to pods
  # ref: https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/
  priorityClassName: ""
