apiVersion: v1
kind: Secret
metadata:
  name: {{ include "common.names.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "common.labels.standard" . | nindent 4 }}
type: Opaque
data:
  IPFS_PINATA_API_KEY: {{ .Values.settings.ipfsPinataApiKey | b64enc | quote }}
  IPFS_PINATA_SECRET_KEY: {{ .Values.settings.ipfsPinataSecretKey | b64enc | quote }}
  SENTRY_DSN: {{ .Values.settings.sentryDsn | b64enc | quote }}
  WALLET_PRIVATE_KEY: {{ .Values.settings.walletPrivateKey | b64enc | quote }}
  IPFS_INFURA_CLIENT_USERNAME: {{ .Values.settings.ipfsInfuraClientUsername | b64enc | quote }}
  IPFS_INFURA_CLIENT_PASSWORD: {{ .Values.settings.ipfsInfuraClientPassword | b64enc | quote }}
  IPFS_WEB3STORAGE_TOKEN: {{ .Values.settings.ipfsWeb3StorageToken | b64enc | quote }}
  RSA_PRIVATE_KEY_PASSPHRASE: {{ .Values.settings.rsaPrivateKeyPassphrase | b64enc | quote }}

---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "common.names.fullname" . }}-rsa-private-key
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "common.labels.standard" . | nindent 4 }}
type: Opaque
data:
  rsakey: {{ .Values.settings.rsaPrivateKey | b64enc | quote }}
