kind: StatefulSet
apiVersion: {{ include "common.capabilities.statefulset.apiVersion" . }}
metadata:
  name: {{ include "common.names.fullname" . }}
  labels:
    {{- include "common.labels.standard" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "common.labels.matchLabels" . | nindent 6 }}
  serviceName: {{ include "common.names.fullname" . }}
  template:
    metadata:
      labels:
        {{- include "common.labels.matchLabels" . | nindent 8 }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      serviceAccountName: {{ include "common.names.serviceAccountName" . }}
      priorityClassName: {{ .Values.priorityClassName | quote }}
      securityContext:
        {{- toYaml .Values.securityContext | nindent 8 }}
    {{- if or (and .Values.persistence.enabled .Values.initChownData) (.Values.p2pNodePort.enabled) }}
      initContainers:
        {{- if .Values.p2pNodePort.enabled }}
        - name: init-nodeport
          image: "{{ .Values.p2pNodePort.initContainer.image.repository }}:{{ .Values.p2pNodePort.initContainer.image.tag }}"
          imagePullPolicy: {{.Values.p2pNodePort.initContainer.image.pullPolicy }}
          securityContext:
            runAsNonRoot: false
            runAsUser: 0
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          command:
            - sh
            - -c
            - >
              echo "Namespace: ${POD_NAMESPACE} Pod: ${POD_NAME}";
          {{- if eq .Values.p2pNodePort.type "LoadBalancer" }}
              until [ -n "$(kubectl -n ${POD_NAMESPACE} get svc/${POD_NAME} -o jsonpath='{.status.loadBalancer.ingress[0].ip}')" ]; do echo "Waiting for load balancer gets an IP" && sleep 10; done;
              export EXTERNAL_PORT=$(kubectl -n ${POD_NAMESPACE} get services -l "pod in (${POD_NAME}), type in (p2p)" -o jsonpath='{.items[0].spec.ports[0].nodePort}');
              export EXTERNAL_IP=$(kubectl -n ${POD_NAMESPACE} get svc/${POD_NAME} -o jsonpath='{.status.loadBalancer.ingress[0].ip}');
          {{- else }}
              export EXTERNAL_PORT=$(kubectl get services -l "pod in (${POD_NAME}), type in (p2p)" -o jsonpath='{.items[0].spec.ports[0].nodePort}');
              export EXTERNAL_IP=$(kubectl get nodes "${NODE_NAME}" -o jsonpath='{.status.addresses[?(@.type=="ExternalIP")].address}');
          {{- end }}
              echo "EXTERNAL_PORT=$EXTERNAL_PORT" >  /env/init-nodeport;
              echo "EXTERNAL_IP=$EXTERNAL_IP"     >> /env/init-nodeport;
              cat /env/init-nodeport;
          volumeMounts:
            - name: env-nodeport
              mountPath: /env
        {{- end }}
        {{- if and .Values.persistence.enabled .Values.initChownData }}
        - name: init-chown
          image: "{{ .Values.initImage.repository }}:{{ .Values.initImage.tag }}"
          imagePullPolicy: {{ .Values.initImage.pullPolicy }}
          securityContext:
            runAsUser: 0
          command:
            - /bin/sh
            - -c
            - mkdir -p /data/teku && chown -R {{ .Values.securityContext.runAsUser }}:{{ .Values.securityContext.runAsUser }} /data/teku
          volumeMounts:
            - name: data
              mountPath: /data/teku
        {{- end }}
    {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - sh
            - -ac
            - >
            {{- if .Values.p2pNodePort.enabled }}
              . /env/init-nodeport;
            {{- end }}
              exec /opt/teku/bin/teku
              --network={{ .Values.network }}
              --data-beacon-path=/data/teku/beacon
              --data-path=/data/teku
              --data-storage-archive-frequency={{ .Values.dataStorageArchiveFrequency }}
              --data-storage-mode={{ .Values.dataStorageMode }}
              --data-storage-non-canonical-blocks-enabled={{ .Values.dataStorageNonCanonicalBlocksEnabled }}
            {{- if .Values.JWTSecret }}
              --ee-endpoint={{ .Values.eeEndpoint }}
              --ee-jwt-secret-file=/secret/jwtsecret
              {{- if .Values.builderEndpoint }}
              --builder-endpoint={{ .Values.builderEndpoint }}
              {{- end }}
            {{- else }}
              --eth1-endpoints={{ .Values.eth1Endpoints | join "," }}
            {{- end }}
              --p2p-enabled=true
              --p2p-port={{ include "teku.p2pPort" . }}
            {{- if .Values.p2pNodePort.enabled }}
              --p2p-advertised-ip=$EXTERNAL_IP
              --p2p-advertised-port=$EXTERNAL_PORT
            {{- else }}
              --p2p-advertised-ip=$(POD_IP)
              --p2p-advertised-port={{ include "teku.p2pPort" . }}
            {{- end }}
            {{- if .Values.restApi.enabled }}
              --rest-api-enabled={{ .Values.restApi.enabled }}
              --rest-api-host-allowlist={{ .Values.restApi.hostAllowList | join "," }}
              --rest-api-interface={{ .Values.restApi.interface }}
              --rest-api-port={{ .Values.restApi.port }}
              --rest-api-cors-origins={{ .Values.restApi.corsOrigins | join "," }}
              --rest-api-docs-enabled={{ .Values.restApi.docsEnabled }}
            {{- end }}
            {{- if .Values.metrics.enabled }}
              --metrics-enabled={{ .Values.metrics.enabled }}
              --metrics-categories={{ .Values.metrics.categories | join "," }}
              --metrics-host-allowlist={{ .Values.metrics.hostAllowList | join "," }}
              --metrics-interface={{ .Values.metrics.interface }}
              --metrics-port={{ .Values.metrics.port }}
            {{- end }}
            {{- range .Values.extraFlags }}
              {{ . | quote }}
            {{- end }}
        {{- if or .Values.restApi.enabled .Values.metrics.enabled }}
          ports:
          {{- if .Values.restApi.enabled }}
            - name: {{ .Values.restApi.portName }}
              containerPort: {{ .Values.restApi.port }}
              protocol: TCP
          {{- end }}
          {{- if .Values.metrics.enabled }}
            - name: metrics
              containerPort: {{ .Values.metrics.port }}
              protocol: TCP
          {{- end }}
          {{- if .Values.p2pNodePort.enabled }}
            - name: p2p-tcp
              containerPort: {{ include "teku.p2pPort" . }}
              protocol: TCP
            - name: p2p-udp
              containerPort: {{ include "teku.p2pPort" . }}
              protocol: UDP
          {{- end }}
        {{- end }}
          env:
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
          volumeMounts:
            - name: data
              mountPath: /data/teku
            {{- if .Values.JWTSecret }}
            - name: jwtsecret
              mountPath: /secret
              readOnly: true
            {{- end }}
            {{- if .Values.p2pNodePort.enabled }}
            - name: env-nodeport
              mountPath: /env
            {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- if .Values.restApi.enabled }}
        - name: sidecar
          image: "{{ .Values.sidecar.repository }}:{{ .Values.sidecar.tag }}"
          imagePullPolicy: {{ .Values.sidecar.pullPolicy }}
          env:
            - name: SERVER_BINDADDR
              value: "{{ .Values.sidecar.bindAddr }}:{{ .Values.sidecar.bindPort }}"
            - name: CLIENT_PORT
              value: {{ .Values.restApi.port | quote }}
          ports:
            - containerPort: {{ .Values.sidecar.bindPort }}
              name: sidecar
              protocol: TCP
        {{- if .Values.livenessProbe.enabled }}
          livenessProbe:
            initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
            timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds }}
            periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
            failureThreshold: {{ .Values.livenessProbe.failureThreshold }}
            successThreshold: {{ .Values.livenessProbe.successThreshold }}
            httpGet:
              path: {{ .Values.livenessProbe.httpGet.path }}
              port: {{ .Values.livenessProbe.httpGet.port }}
              scheme: {{ .Values.livenessProbe.httpGet.scheme }}
        {{- end }}
        {{- if .Values.readinessProbe.enabled }}
          readinessProbe:
            initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
            timeoutSeconds: {{ .Values.readinessProbe.timeoutSeconds }}
            periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
            failureThreshold: {{ .Values.readinessProbe.failureThreshold }}
            successThreshold: {{ .Values.readinessProbe.successThreshold }}
            httpGet:
              path: {{ .Values.readinessProbe.httpGet.path }}
              port: {{ .Values.readinessProbe.httpGet.port }}
              scheme: {{ .Values.readinessProbe.httpGet.scheme }}
        {{- end }}
      {{- end }}
      volumes:
        {{- if .Values.JWTSecret }}
        - name: jwtsecret
          secret:
            secretName: {{ include "common.names.fullname" . }}
        {{- end }}
        {{- if .Values.p2pNodePort.enabled }}
        - name: env-nodeport
          emptyDir: {}
        {{- end }}
  {{- if (not .Values.persistence.enabled) }}
        - name: data
          emptyDir: {}
  {{- else }}
  volumeClaimTemplates:
    - metadata:
        name: data
        labels:
          {{- include "common.labels.standard" . | nindent 10 }}
      {{- with .Values.persistence.annotations }}
        annotations:
          {{ toYaml . | nindent 10 | trim }}
      {{- end }}
      spec:
        accessModes: {{ .Values.persistence.accessModes }}
        storageClassName: {{ .Values.persistence.storageClassName }}
        resources:
          requests:
            storage: {{ .Values.persistence.size | quote }}
  {{- end }}
