kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: {{ include "teku.fullname" . }}
  labels:
    {{- include "teku.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "teku.selectorLabels" . | nindent 6 }}
  serviceName: {{ template "teku.fullname" . }}
  template:
    metadata:
      labels:
        {{- include "teku.selectorLabels" . | nindent 8 }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      serviceAccountName: {{ include "teku.serviceAccountName" . }}
      priorityClassName: {{ .Values.priorityClassName | quote }}
      securityContext:
        {{- toYaml .Values.securityContext | nindent 8 }}
    {{- if and .Values.persistence.enabled .Values.initChownData }}
      initContainers:
        - name: init-chown
          image: "{{ .Values.initImage.repository }}:{{ .Values.initImage.tag }}"
          imagePullPolicy: {{ .Values.initImage.pullPolicy }}
          securityContext:
            runAsUser: 0
          command:
            - /bin/sh
            - -c
            - mkdir -p {{ .Values.dataPath }} && chown -R {{ .Values.securityContext.runAsUser }}:{{ .Values.securityContext.runAsUser }} {{ .Values.dataPath }}
          volumeMounts:
            - name: data
              mountPath: {{ .Values.dataPath }}
    {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - --network={{ .Values.network }}
            - --data-beacon-path={{ .Values.dataBeaconPath }}
            - --data-path={{ .Values.dataPath }}
            - --data-storage-archive-frequency={{ .Values.dataStorageArchiveFrequency }}
            - --data-storage-mode={{ .Values.dataStorageMode }}
            - --data-storage-non-canonical-blocks-enabled={{ .Values.dataStorageNonCanonicalBlocksEnabled }}
            - --eth1-endpoints={{ .Values.eth1Endpoints | join "," }}
          {{- if .Values.restApi.enabled }}
            - --rest-api-enabled={{ .Values.restApi.enabled }}
            - --rest-api-host-allowlist={{ .Values.restApi.hostAllowList | join "," }}
            - --rest-api-interface={{ .Values.restApi.interface }}
            - --rest-api-port={{ .Values.restApi.port }}
            - --rest-api-cors-origins={{ .Values.restApi.corsOrigins | join "," }}
            - --rest-api-docs-enabled={{ .Values.restApi.docsEnabled }}
          {{- end }}
          {{- if .Values.initialState }}
            - --initial-state={{ .Values.initialState }}
          {{- end }}
          {{- if .Values.metrics.enabled }}
            - --metrics-enabled={{ .Values.metrics.enabled }}
            - --metrics-categories={{ .Values.metrics.categories | join "," }}
            - --metrics-host-allowlist={{ .Values.metrics.hostAllowList | join "," }}
            - --metrics-interface={{ .Values.metrics.interface }}
            - --metrics-port={{ .Values.metrics.port }}
          {{- end }}
          {{- range .Values.extraFlags }}
            - {{ . | quote }}
          {{- end }}
          env:
            - name: JAVA_OPTS
              value: {{ .Values.javaOpts | quote }}
        {{- if or .Values.restApi.enabled .Values.metrics.enabled }}
          ports:
          {{- if .Values.restApi.enabled }}
            - name: rest-api
              containerPort: {{ .Values.restApi.port }}
              protocol: TCP
          {{- end }}
          {{- if .Values.metrics.enabled }}
            - name: metrics
              containerPort: {{ .Values.metrics.port }}
              protocol: TCP
          {{- end }}
        {{- end }}
          volumeMounts:
            - name: data
              mountPath: {{ .Values.dataPath }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- if .Values.restApi.enabled }}
        - name: sidecar
          image: "{{ .Values.sidecar.repository }}:{{ .Values.sidecar.tag }}"
          imagePullPolicy: {{ .Values.sidecar.pullPolicy }}
          env:
            - name: SERVER_BINDADDR
              value: "{{ .Values.sidecar.bindAddr }}:{{ .Values.sidecar.bindPort }}"
            - name: CLIENT_PORT
              value: {{ .Values.restApi.port | quote }}
          ports:
            - containerPort: {{ .Values.sidecar.bindPort }}
              name: sidecar
              protocol: TCP
        {{- if .Values.livenessProbe.enabled }}
          livenessProbe:
            initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
            timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds }}
            periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
            failureThreshold: {{ .Values.livenessProbe.failureThreshold }}
            successThreshold: {{ .Values.livenessProbe.successThreshold }}
            httpGet:
              path: {{ .Values.livenessProbe.httpGet.path }}
              port: {{ .Values.livenessProbe.httpGet.port }}
              scheme: {{ .Values.livenessProbe.httpGet.scheme }}
        {{- end }}
        {{- if .Values.readinessProbe.enabled }}
          readinessProbe:
            initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
            timeoutSeconds: {{ .Values.readinessProbe.timeoutSeconds }}
            periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
            failureThreshold: {{ .Values.readinessProbe.failureThreshold }}
            successThreshold: {{ .Values.readinessProbe.successThreshold }}
            httpGet:
              path: {{ .Values.readinessProbe.httpGet.path }}
              port: {{ .Values.readinessProbe.httpGet.port }}
              scheme: {{ .Values.readinessProbe.httpGet.scheme }}
        {{- end }}
      {{- end }}
  {{- if (not .Values.persistence.enabled) }}
      volumes:
        - name: data
          emptyDir: {}
  {{- else }}
  volumeClaimTemplates:
    - metadata:
        name: data
        labels:
          {{- include "teku.labels" . | nindent 10 }}
      spec:
        accessModes: {{ .Values.persistence.accessModes }}
        storageClassName: {{ .Values.persistence.storageClassName }}
        resources:
          requests:
            storage: {{ .Values.persistence.size | quote }}
  {{- end }}
