{{- $root := . -}}
{{- range $i, $e := until (len .Values.global.executionEndpoints) }}
---
kind: StatefulSet
apiVersion: {{ include "common.capabilities.statefulset.apiVersion" $root }}
metadata:
  name: {{ include "common.names.fullname" $root }}-{{ $i }}
  labels:
    {{- include "common.labels.standard" $root | nindent 4 }}
    replicaID: {{ $i | quote }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "common.labels.matchLabels" $root | nindent 6 }}
      replicaID: {{ $i | quote }}
  serviceName: {{ include "common.names.fullname" $root }}
  template:
    metadata:
      labels:
        {{- include "common.labels.matchLabels" $root | nindent 8 }}
        replicaID: {{ $i | quote }}
    spec:
    {{- with (concat $root.Values.imagePullSecrets $root.Values.global.imagePullSecrets) }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with $root.Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with $root.Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with $root.Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      serviceAccountName: {{ include "common.names.serviceAccountName" $root }}
      priorityClassName: {{ $root.Values.priorityClassName | quote }}
      securityContext:
        {{- toYaml $root.Values.securityContext | nindent 8 }}
    {{- if or (and $root.Values.persistence.enabled $root.Values.initChownData) ($root.Values.p2pNodePort.enabled) }}
      initContainers:
        {{- if $root.Values.p2pNodePort.enabled }}
        - name: init-nodeport
          image: "{{ $root.Values.p2pNodePort.initContainer.image.repository }}:{{ $root.Values.p2pNodePort.initContainer.image.tag }}"
          imagePullPolicy: {{ $root.Values.p2pNodePort.initContainer.image.pullPolicy }}
          securityContext:
            runAsNonRoot: false
            runAsUser: 0
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          command:
            - sh
            - -c
            - >
              echo "Namespace: ${POD_NAMESPACE} Pod: ${POD_NAME}";
          {{- if eq $root.Values.p2pNodePort.type "LoadBalancer" }}
              until [ -n "$(kubectl -n ${POD_NAMESPACE} get svc/${POD_NAME} -o jsonpath='{.status.loadBalancer.ingress[0].ip}')" ]; do echo "Waiting for load balancer gets an IP" && sleep 10; done;
              export EXTERNAL_PORT=$(kubectl -n ${POD_NAMESPACE} get services -l "pod in (${POD_NAME}), type in (p2p)" -o jsonpath='{.items[0].spec.ports[0].nodePort}');
              export EXTERNAL_IP=$(kubectl -n ${POD_NAMESPACE} get svc/${POD_NAME} -o jsonpath='{.status.loadBalancer.ingress[0].ip}');
          {{- else }}
              export EXTERNAL_PORT=$(kubectl get services -l "pod in (${POD_NAME}), type in (p2p)" -o jsonpath='{.items[0].spec.ports[0].nodePort}');
              export EXTERNAL_IP=$(kubectl get nodes "${NODE_NAME}" -o jsonpath='{.status.addresses[?(@.type=="ExternalIP")].address}');
          {{- end }}
              echo "EXTERNAL_PORT=$EXTERNAL_PORT" >  /env/init-nodeport;
              echo "EXTERNAL_IP=$EXTERNAL_IP"     >> /env/init-nodeport;
              cat /env/init-nodeport;
          volumeMounts:
            - name: env-nodeport
              mountPath: /env
        {{- end }}
        {{- if and $root.Values.persistence.enabled $root.Values.initChownData }}
        - name: init-chown
          image: "{{ $root.Values.initImage.repository }}:{{ $root.Values.initImage.tag }}"
          imagePullPolicy: {{ $root.Values.initImage.pullPolicy }}
          securityContext:
            runAsUser: 0
          command:
            - /bin/sh
            - -c
            - mkdir -p /data/teku && chown -R {{ $root.Values.securityContext.runAsUser }}:{{ $root.Values.securityContext.runAsUser }} /data/teku
          volumeMounts:
            - name: data
              mountPath: /data/teku
        {{- end }}
    {{- end }}
      containers:
        - name: {{ $root.Chart.Name }}
          image: "{{ $root.Values.image.repository }}:{{ $root.Values.image.tag | default $root.Chart.AppVersion }}"
          imagePullPolicy: {{ $root.Values.image.pullPolicy }}
          command:
            - sh
            - -ac
            - >
            {{- if $root.Values.p2pNodePort.enabled }}
              . /env/init-nodeport;
            {{- end }}
              exec /opt/teku/bin/teku
              --network={{ $root.Values.global.network }}
              --data-beacon-path=/data/teku/beacon
              --data-path=/data/teku
              --data-storage-archive-frequency={{ $root.Values.dataStorageArchiveFrequency }}
              --data-storage-mode={{ $root.Values.dataStorageMode }}
              --data-storage-non-canonical-blocks-enabled={{ $root.Values.dataStorageNonCanonicalBlocksEnabled }}
              --ee-endpoint={{ index $root.Values.global.executionEndpoints $i }}
              --ee-jwt-secret-file=/secret/jwtsecret
            {{- if $root.Values.builderEndpoint }}
              --builder-endpoint={{ $root.Values.builderEndpoint }}
            {{- end }}
            {{- if $root.Values.merge.enabled }}
              --validators-proposer-default-fee-recipient={{ $root.Values.merge.feeRecipient }}
            {{- end }}
            {{- if $root.Values.global.checkPointSync.enabled }}
              --initial-state={{ $root.Values.global.checkPointSync.url }}/eth/v2/debug/beacon/states/finalized
            {{- end }}
              --p2p-enabled=true
              --p2p-port={{ include "teku.p2pPort" $root }}
            {{- if $root.Values.p2pNodePort.enabled }}
              --p2p-advertised-ip=$EXTERNAL_IP
              --p2p-advertised-port=$EXTERNAL_PORT
            {{- else }}
              --p2p-advertised-ip=$(POD_IP)
              --p2p-advertised-port={{ include "teku.p2pPort" $root }}
            {{- end }}
            {{- if $root.Values.restApi.enabled }}
              --rest-api-enabled={{ $root.Values.restApi.enabled }}
              --rest-api-host-allowlist={{ $root.Values.restApi.hostAllowList | join "," }}
              --rest-api-interface={{ $root.Values.restApi.interface }}
              --rest-api-port={{ $root.Values.restApi.port }}
              --rest-api-cors-origins={{ $root.Values.restApi.corsOrigins | join "," }}
              --rest-api-docs-enabled={{ $root.Values.restApi.docsEnabled }}
            {{- end }}
            {{- if $root.Values.global.metrics.enabled }}
              --metrics-enabled={{ $root.Values.global.metrics.enabled }}
              --metrics-categories={{ $root.Values.metrics.categories | join "," }}
              --metrics-host-allowlist={{ $root.Values.metrics.hostAllowList | join "," }}
              --metrics-interface={{ $root.Values.metrics.interface }}
              --metrics-port={{ $root.Values.metrics.port }}
            {{- end }}
            {{- range $root.Values.extraFlags }}
              {{ . | quote }}
            {{- end }}
        {{- if or $root.Values.restApi.enabled $root.Values.metrics.enabled }}
          ports:
          {{- if $root.Values.restApi.enabled }}
            - name: {{ $root.Values.restApi.portName }}
              containerPort: {{ $root.Values.restApi.port }}
              protocol: TCP
          {{- end }}
          {{- if $root.Values.metrics.enabled }}
            - name: metrics
              containerPort: {{ $root.Values.metrics.port }}
              protocol: TCP
          {{- end }}
          {{- if $root.Values.p2pNodePort.enabled }}
            - name: p2p-tcp
              containerPort: {{ include "teku.p2pPort" $root }}
              protocol: TCP
            - name: p2p-udp
              containerPort: {{ include "teku.p2pPort" $root }}
              protocol: UDP
          {{- end }}
        {{- end }}
          env:
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
          volumeMounts:
            - name: data
              mountPath: /data/teku
            - name: jwtsecret
              mountPath: /secret
              readOnly: true
            {{- if $root.Values.p2pNodePort.enabled }}
            - name: env-nodeport
              mountPath: /env
            {{- end }}
          resources:
            {{- toYaml $root.Values.resources | nindent 12 }}
      {{- if $root.Values.restApi.enabled }}
        - name: sidecar
          image: "{{ $root.Values.sidecar.repository }}:{{ $root.Values.sidecar.tag }}"
          imagePullPolicy: {{ $root.Values.sidecar.pullPolicy }}
          env:
            - name: SERVER_BINDADDR
              value: "{{ $root.Values.sidecar.bindAddr }}:{{ $root.Values.sidecar.bindPort }}"
            - name: CLIENT_PORT
              value: {{ $root.Values.restApi.port | quote }}
          ports:
            - containerPort: {{ $root.Values.sidecar.bindPort }}
              name: sidecar
              protocol: TCP
        {{- if or $root.Values.global.livenessProbe.enabled $root.Values.livenessProbe.enabled }}
          livenessProbe:
            initialDelaySeconds: {{ $root.Values.livenessProbe.initialDelaySeconds }}
            timeoutSeconds: {{ $root.Values.livenessProbe.timeoutSeconds }}
            periodSeconds: {{ $root.Values.livenessProbe.periodSeconds }}
            failureThreshold: {{ $root.Values.livenessProbe.failureThreshold }}
            successThreshold: {{ $root.Values.livenessProbe.successThreshold }}
            httpGet:
              path: {{ $root.Values.livenessProbe.httpGet.path }}
              port: {{ $root.Values.livenessProbe.httpGet.port }}
              scheme: {{ $root.Values.livenessProbe.httpGet.scheme }}
        {{- end }}
        {{- if or $root.Values.global.readinessProbe.enabled $root.Values.readinessProbe.enabled }}
          readinessProbe:
            initialDelaySeconds: {{ $root.Values.readinessProbe.initialDelaySeconds }}
            timeoutSeconds: {{ $root.Values.readinessProbe.timeoutSeconds }}
            periodSeconds: {{ $root.Values.readinessProbe.periodSeconds }}
            failureThreshold: {{ $root.Values.readinessProbe.failureThreshold }}
            successThreshold: {{ $root.Values.readinessProbe.successThreshold }}
            httpGet:
              path: {{ $root.Values.readinessProbe.httpGet.path }}
              port: {{ $root.Values.readinessProbe.httpGet.port }}
              scheme: {{ $root.Values.readinessProbe.httpGet.scheme }}
        {{- end }}
      {{- end }}
      volumes:
        - name: jwtsecret
          secret:
            secretName: {{ include "common.names.fullname" $root }}
        {{- if $root.Values.p2pNodePort.enabled }}
        - name: env-nodeport
          emptyDir: {}
        {{- end }}
  {{- if (not $root.Values.persistence.enabled) }}
        - name: data
          emptyDir: {}
  {{- else }}
  volumeClaimTemplates:
    - metadata:
        name: data
        labels:
          {{- include "common.labels.standard" $root | nindent 10 }}
      {{- with $root.Values.persistence.annotations }}
        annotations:
          {{ toYaml . | nindent 10 | trim }}
      {{- end }}
      spec:
        accessModes: {{ $root.Values.persistence.accessModes }}
        storageClassName: {{ $root.Values.persistence.storageClassName }}
        resources:
          requests:
            storage: {{ $root.Values.persistence.size | quote }}
  {{- end }}

{{- end }}
