{{- if and .Values.api.enabled .Values.api.ingress.enabled }}
{{ $fullName := include "common.names.fullname" . }}
{{ $ingressPath := .Values.api.ingress.path }}
apiVersion: {{ include "common.capabilities.ingress.apiVersion" . }}
kind: Ingress
metadata:
  name: {{ include "common.names.fullname" . }}-api
  labels:
    {{- include "common.labels.standard" . | nindent 4 }}
    component: "api"
  {{- with .Values.api.ingress.labels }}
    {{ toYaml . | nindent 4 | trim }}
  {{- end }}
{{- with .Values.api.ingress.annotations }}
  annotations:
    {{ toYaml . | nindent 4 | trim }}
{{- end }}
spec:
{{- if and .Values.api.ingress.className (semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion) }}
  ingressClassName: {{ .Values.api.ingress.className }}
{{- end }}
{{- with .Values.api.ingress.tls }}
  tls:
    {{ toYaml . | nindent 4 | trim }}
{{- end }}
  rules:
  {{- range .Values.api.ingress.hosts }}
    - host: {{ . }}
      http:
        paths:
          - pathType: ImplementationSpecific
            path: {{ $ingressPath }}
            backend:
              service:
                name: {{ $fullName }}
                port:
                  name: http
  {{- end }}
{{- end }}
