{{- if or .Values.admin.enabled .Values.api.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "backend.fullname" . }}
  labels:
    {{- include "backend.labels" . | nindent 4 }}
data:
  ENVIRONMENT: {{ .Values.commonConf.environment | quote }}
  CELERY_FLOWER_USER: {{ .Values.celery.flower.user | quote }}
  # https://github.com/notifiers/notifiers/issues/328
  USERNAME: user
  ENABLED_NETWORKS: {{ .Values.commonConf.enabledNetworks | quote }}
  POOL_PAGE: {{ .Values.commonConf.poolPage | quote }}
  SOLO_PAGE: {{ .Values.commonConf.soloPage | quote }}
  SEND_EMAILS: {{ .Values.commonConf.sendEmails | quote }}
  MAILGUN_SENDER_DOMAIN: {{ .Values.commonConf.mailgunSenderDomain | quote }}
  MAILGUN_API_URL: {{ .Values.commonConf.mailgunApiUrl | quote }}
  DEFAULT_FROM_EMAIL: {{ .Values.commonConf.defaultFromEmail | quote }}
  MANAGERS: {{ .Values.commonConf.managers | quote }}
  STATIC_URL: {{ .Values.commonConf.staticUrl | quote }}
  STAKING_APR_SAMPLES_COUNT: {{ .Values.commonConf.stakingAprSamplesCount | quote }}
  MAINNET_SEND_TELEGRAM_NOTIFICATIONS: {{ .Values.commonConf.sendTelegramNotifications.mainnet | quote }}
  GOERLI_SEND_TELEGRAM_NOTIFICATIONS: {{ .Values.commonConf.sendTelegramNotifications.goerli | quote }}
  PERM_GOERLI_SEND_TELEGRAM_NOTIFICATIONS: {{ .Values.commonConf.sendTelegramNotifications.permGoerli | quote }}
  GNOSIS_SEND_TELEGRAM_NOTIFICATIONS: {{ .Values.commonConf.sendTelegramNotifications.gnosis | quote }}
  SENTRY_DSN: {{ .Values.commonConf.sentryDsn | quote }}
{{- range $key, $value := .Values.commonConf.extraEnv }}
  {{ $key }}: {{ $value | quote -}}
{{- end }}
{{- end }}
