apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "common.names.fullname" . }}
  labels:
    {{- include "common.labels.standard" . | nindent 4 }}
data:
  DATABASE_DIR: "/data"
  NETWORK: {{ .Values.settings.network | quote }}
  VAULT_CONTRACT_ADDRESS: {{ .Values.settings.vaultContractAddress | quote }}
  EXECUTION_ENDPOINT: {{ .Values.settings.executionEndpoint | quote }}
  CONSENSUS_ENDPOINT: {{ .Values.settings.consensusEndpoint | quote }}
  KEYSTORES_PASSWORD_FILE: {{ .Values.settings.keystoresPasswordFile | quote }}
  KEYSTORES_PATH: {{ .Values.settings.keystoresPath | quote }}
  DEPOSIT_DATA_PATH: {{ .Values.settings.depositDataPath | quote }}
  DEPOSIT_DATA: {{ .Values.settings.depositData | quote }}
  METRICS_HOST: {{ .Values.serviceMonitor.host | quote }}

{{- if .Values.settings.depositData }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "common.names.fullname" . }}-deposit-data
  labels:
    {{- include "common.labels.standard" . | nindent 4 }}
data:
  deposit_data.json: {{ .Values.settings.depositData | quote }}
{{- end }}
