apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "common.names.fullname" . }}
  labels:
    {{- include "common.labels.standard" . | nindent 4 }}
data:
  LOG_LEVEL: {{ .Values.settings.logLevel | quote }}
  NETWORK: {{ .Values.settings.network | quote }}
  EXECUTION_ENDPOINTS: {{ .Values.settings.executionEndpoints | quote }}
  CONSENSUS_ENDPOINTS: {{ .Values.settings.consensusEndpoints | quote }}
  METRICS_HOST: {{ .Values.serviceMonitor.host | quote }}
