apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "common.names.fullname" . }}
  labels:
    {{- include "common.labels.standard" . | nindent 4 }}
data:
  LOG_LEVEL: {{ .Values.settings.logLevel | quote }}
  NETWORK: {{ .Values.settings.network | quote }}
  EXECUTION_ENDPOINT: {{ .Values.settings.executionEndpoint | quote }}
  CONSENSUS_ENDPOINT: {{ .Values.settings.consensusEndpoint | quote }}
