{{- if and (or .Values.global.metrics.enabled .Values.metrics.enabled)
           (or .Values.global.metrics.prometheusRule.enabled .Values.metrics.prometheusRule.enabled) }}
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{ include "common.names.fullname" . }}
  {{- if .Values.metrics.prometheusRule.namespace }}
  namespace: {{ .Values.metrics.prometheusRule.namespace }}
  {{- else }}
  namespace: {{ .Release.Namespace | quote }}
  {{- end }}
  labels:
    {{- include "common.labels.standard" . | nindent 4 }}
    {{- if .Values.metrics.prometheusRule.additionalLabels }}
    {{- toYaml .Values.metrics.prometheusRule.additionalLabels | nindent 4 }}
    {{- end }}
spec:
  groups:
  {{- with .Values.metrics.prometheusRule.rules }}
    - name: {{ include "common.names.fullname" $ }}
      rules: {{- tpl (toYaml .) $ | nindent 8 }}
  {{- end }}
  {{- if .Values.metrics.prometheusRule.default }}
    - name: {{ include "common.names.fullname" $ }}-default
      rules:
        - alert: NethermindNodeDown
          expr: up{job='{{ include "common.names.fullname" . }}'} == 0
          for: 1m
          labels:
            severity: critical
          annotations:
            summary: Nethermind node is down
            description: Check {{ printf "{{ $labels.pod }}" }} node in namespace {{ printf "{{ $labels.namespace }}" }}
  {{- end }}
{{- end }}