kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: {{ include "nethermind.fullname" . }}
  labels:
    {{- include "nethermind.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "nethermind.selectorLabels" . | nindent 6 }}
  serviceName: {{ template "nethermind.fullname" . }}
  template:
    metadata:
      labels:
        {{- include "nethermind.selectorLabels" . | nindent 8 }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      serviceAccountName: {{ include "nethermind.serviceAccountName" . }}
      priorityClassName: {{ .Values.priorityClassName | quote }}
      securityContext:
        {{- toYaml .Values.securityContext | nindent 8 }}
    {{- if and .Values.persistence.enabled .Values.initChownData }}
      initContainers:
        - name: init-chown
          image: "{{ .Values.initImage.repository }}:{{ .Values.initImage.tag }}"
          imagePullPolicy: {{ .Values.initImage.pullPolicy }}
          securityContext:
            runAsUser: 0
          command:
            - /bin/sh
            - -c
            - mkdir -p {{ .Values.nethermind.dataDir }} && chown -R {{ .Values.securityContext.runAsUser }}:{{ .Values.securityContext.runAsUser }} {{ .Values.nethermind.dataDir }}
          volumeMounts:
            - name: data
              mountPath: {{ .Values.nethermind.dataDir }}
    {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          workingDir: {{ .Values.nethermind.dataDir }}
          command: ['/nethermind/Nethermind.Runner']
          args:
            - --config={{ .Values.network }}
            - --datadir={{ .Values.nethermind.dataDir }}
            - --Sync.FastSync={{ .Values.nethermind.fastSync }}
          {{- if .Values.nethermind.jsonrpc.enabled }}
            - --JsonRpc.Enabled={{ .Values.nethermind.jsonrpc.enabled }}
            - --JsonRpc.EnabledModules={{ .Values.nethermind.jsonrpc.modules | join "," }}
            - --JsonRpc.Host={{ .Values.nethermind.jsonrpc.host }}
            - --JsonRpc.Port={{ .Values.nethermind.jsonrpc.ports.rest }}
            - --JsonRpc.WebSocketsPort={{ .Values.nethermind.jsonrpc.ports.websocket }}
          {{- end }}
          {{- if .Values.metrics.enabled }}
            - --Metrics.Enabled={{ .Values.metrics.enabled }}
            - --Metrics.ExposePort={{ .Values.metrics.port }}
          {{- end }}
          {{- range .Values.nethermind.extraFlags }}
            - {{ . | quote }}
          {{- end }}
          ports:
        {{- if .Values.nethermind.jsonrpc.enabled }}
            - name: json-rest
              containerPort: {{ .Values.nethermind.jsonrpc.ports.rest }}
              protocol: TCP
            - name: json-ws
              containerPort: {{ .Values.nethermind.jsonrpc.ports.websocket }}
              protocol: TCP
        {{- end }}
        {{- if .Values.metrics.enabled }}
            - name: metrics
              containerPort: {{ .Values.metrics.port }}
              protocol: TCP
        {{- end }}
          volumeMounts:
            - name: data
              mountPath: {{ .Values.nethermind.dataDir }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- if .Values.nethermind.jsonrpc.enabled }}
        - name: sidecar
          image: "{{ .Values.sidecar.repository }}:{{ .Values.sidecar.tag }}"
          imagePullPolicy: {{ .Values.sidecar.pullPolicy }}
          env:
            - name: SERVER_BINDADDR
              value: "{{ .Values.sidecar.bindAddr }}:{{ .Values.sidecar.bindPort }}"
            - name: CLIENT_PORT
              value: {{ .Values.nethermind.jsonrpc.ports.rest | quote }}
          ports:
            - containerPort: {{ .Values.sidecar.bindPort }}
              name: sidecar
              protocol: TCP
        {{- if .Values.livenessProbe.enabled }}
          livenessProbe:
            initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
            timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds }}
            periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
            failureThreshold: {{ .Values.livenessProbe.failureThreshold }}
            successThreshold: {{ .Values.livenessProbe.successThreshold }}
            httpGet:
              path: {{ .Values.livenessProbe.httpGet.path }}
              port: {{ .Values.livenessProbe.httpGet.port }}
              scheme: {{ .Values.livenessProbe.httpGet.scheme }}
        {{- end }}
        {{- if .Values.readinessProbe.enabled }}
          readinessProbe:
            initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
            timeoutSeconds: {{ .Values.readinessProbe.timeoutSeconds }}
            periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
            failureThreshold: {{ .Values.readinessProbe.failureThreshold }}
            successThreshold: {{ .Values.readinessProbe.successThreshold }}
            httpGet:
              path: {{ .Values.readinessProbe.httpGet.path }}
              port: {{ .Values.readinessProbe.httpGet.port }}
              scheme: {{ .Values.readinessProbe.httpGet.scheme }}
        {{- end }}
      {{- end }}
  {{- if (not .Values.persistence.enabled) }}
      volumes:
        - name: data
          emptyDir: {}
  {{- else }}
  volumeClaimTemplates:
    - metadata:
        name: data
        labels:
          {{- include "nethermind.labels" . | nindent 10 }}
      spec:
        accessModes: {{ .Values.persistence.accessModes }}
        storageClassName: {{ .Values.persistence.storageClassName }}
        resources:
          requests:
            storage: {{ .Values.persistence.size | quote }}
  {{- end }}
