---
apiVersion: {{ include "common.capabilities.statefulset.apiVersion" . }}
kind: StatefulSet
metadata:
  name: {{ include "common.names.fullname" . }}
  labels:
    {{- include "common.labels.statefulset" . | nindent 4 }}
spec:
  replicas: {{ len .Values.global.executionEndpoints }}
  podManagementPolicy: "Parallel"
  selector:
    matchLabels:
      {{- include "common.labels.matchLabels" . | nindent 6 }}
  serviceName: {{ include "common.names.fullname" . }}
  template:
    metadata:
      labels:
        {{- include "common.labels.matchLabels" . | nindent 8 }}
      annotations:
        checksum/configmap: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
    spec:
    {{- with (concat .Values.imagePullSecrets .Values.global.imagePullSecrets) }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{ toYaml . | nindent 8 | trim }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{ toYaml . | nindent 8 | trim }}
    {{- end }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
        {{ toYaml . | nindent 8 | trim }}
    {{- end }}
    {{- with .Values.securityContext }}
      securityContext:
        {{ toYaml . | nindent 8 | trim }}
    {{- end }}
      serviceAccountName: {{ include "common.names.serviceAccountName" . }}
      priorityClassName: {{ .Values.priorityClassName | quote }}
      initContainers:
        - name: init
          image: "{{ .Values.initImage.repository }}:{{ .Values.initImage.tag }}"
          imagePullPolicy: {{ .Values.initImage.pullPolicy }}
          securityContext:
            runAsNonRoot: false
            runAsUser: 0
          env:
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          command:
            - sh
            - -c
            - >
              echo "Namespace: ${POD_NAMESPACE} Pod: ${POD_NAME}";
          {{- if .Values.p2pNodePort.enabled }}
            {{- if eq .Values.p2pNodePort.type "LoadBalancer" }}
              until [ -n "$(kubectl -n ${POD_NAMESPACE} get svc/${POD_NAME} -o jsonpath='{.status.loadBalancer.ingress[0].ip}')" ]; do echo "Waiting for load balancer gets an IP" && sleep 10; done;
              export EXTERNAL_PORT=$(kubectl -n ${POD_NAMESPACE} get services -l "pod in (${POD_NAME}), type in (p2p)" -o jsonpath='{.items[0].spec.ports[0].nodePort}');
              export EXTERNAL_IP=$(kubectl -n ${POD_NAMESPACE} get svc/${POD_NAME} -o jsonpath='{.status.loadBalancer.ingress[0].ip}');
            {{- else }}
              export EXTERNAL_PORT=$(kubectl get services -l "pod in (${POD_NAME}), type in (p2p)" -o jsonpath='{.items[0].spec.ports[0].nodePort}');
              export EXTERNAL_IP=$(kubectl get nodes "${NODE_NAME}" -o jsonpath='{.status.addresses[?(@.type=="ExternalIP")].address}');
            {{- end }}
              echo "EXTERNAL_PORT=$EXTERNAL_PORT" >  /env/init-nodeport;
              echo "EXTERNAL_IP=$EXTERNAL_IP"     >> /env/init-nodeport;
              cat /env/init-nodeport;
        {{- end }}
        {{- if and .Values.persistence.enabled .Values.initChownData }}
              mkdir -p /data && chown -R {{ .Values.securityContext.runAsUser }}:{{ .Values.securityContext.runAsUser }} /data;
        {{- end }}
              INDEX=$((${HOSTNAME##*-}+1));
              EE=$(sed "${INDEX}q;d" /configs/execution-endpoints.txt);
              echo ${EE} > /data/ee.txt;
              echo "Pod will connect to the ${EE} endpoint";
          volumeMounts:
            - name: env-nodeport
              mountPath: /env
            - name: data
              mountPath: /data
            - name: configs
              mountPath: /configs
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - sh
            - -ac
            - >
            {{- if .Values.p2pNodePort.enabled }}
              . /env/init-nodeport;
            {{- end }}
              EE=`cat /data/ee.txt`;
              echo "Pod will connect to the ${EE} endpoint";
              exec lighthouse
              bn
              --staking
            {{- if .Values.http.enabled }}
              --http
              --http-port={{ .Values.http.port }}
              --http-address={{ .Values.http.address }}
              --http-allow-origin={{ .Values.http.allowOrigin }}
            {{- end}}
            {{- if .Values.global.checkPointSync.enabled }}
              --checkpoint-sync-url={{ .Values.global.checkPointSync.url }}
            {{- end }}
            {{- if .Values.builderEndpoint }}
              --builder={{ .Values.builderEndpoint }}
            {{- end }}
            {{- if .Values.merge.enabled }}
              --suggested-fee-recipient={{ .Values.merge.feeRecipient }}
            {{- end }}
            {{- if eq .Values.global.network "gnosis" }}
              --execution-endpoint=${EE}
              --execution-jwt=/secret/jwtsecret
            {{- end }}
              --datadir=/data
              --network={{ .Values.global.network }}
              --disable-upnp
              --disable-enr-auto-update
              --target-peers={{ .Values.targetPeers }}
              --discovery-port={{ include "lighthouse.p2pPort" . }}
            {{- if .Values.p2pNodePort.enabled }}
              --enr-address=$EXTERNAL_IP
              --enr-tcp-port=$EXTERNAL_PORT
              --enr-udp-port=$EXTERNAL_PORT
            {{- else }}
              --enr-address=$(POD_IP)
              --enr-tcp-port={{ include "lighthouse.p2pPort" . }}
              --enr-udp-port={{ include "lighthouse.p2pPort" . }}
            {{- end }}
            {{- if .Values.global.metrics.enabled }}
            {{- range .Values.metrics.flags }}
              {{ . }}
            {{- end }}
            {{- end }}
            {{- range .Values.extraFlags }}
              {{ . }}
            {{- end }}
          env:
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
          ports:
            - containerPort: {{ .Values.http.port }}
              protocol: TCP
              name: {{ .Values.http.portName }}
          {{- if .Values.global.metrics.enabled }}
            - containerPort: {{ .Values.metrics.port }}
              name: metrics
              protocol: TCP
          {{- end }}
          {{- if .Values.p2pNodePort.enabled }}
            - name: p2p-tcp
              containerPort: {{ include "lighthouse.p2pPort" . }}
              protocol: TCP
            - name: p2p-udp
              containerPort: {{ include "lighthouse.p2pPort" . }}
              protocol: UDP
          {{- end }}
          volumeMounts:
            - name: data
              mountPath: /data
            - name: jwtsecret
              mountPath: /secret
              readOnly: true
            - name: env-nodeport
              mountPath: /env
        {{- with .Values.resources }}
          resources:
            {{ toYaml . | nindent 12 | trim }}
        {{- end }}
        - name: sidecar
          image: "{{ .Values.sidecar.repository }}:{{ .Values.sidecar.tag }}"
          imagePullPolicy: {{ .Values.sidecar.pullPolicy }}
          env:
            - name: SERVER_BINDADDR
              value: "{{ .Values.sidecar.bindAddr }}:{{ .Values.sidecar.bindPort }}"
            - name: CLIENT_PORT
              value: {{ .Values.http.port | quote }}
          ports:
            - containerPort: {{ .Values.sidecar.bindPort }}
              name: sidecar
              protocol: TCP
        {{- if or .Values.global.livenessProbe.enabled .Values.livenessProbe.enabled }}
          livenessProbe:
            initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
            timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds }}
            periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
            failureThreshold: {{ .Values.livenessProbe.failureThreshold }}
            successThreshold: {{ .Values.livenessProbe.successThreshold }}
            httpGet:
              path: {{ .Values.livenessProbe.httpGet.path }}
              port: {{ .Values.livenessProbe.httpGet.port }}
              scheme: {{ .Values.livenessProbe.httpGet.scheme }}
        {{- end }}
        {{- if or .Values.global.readinessProbe.enabled .Values.readinessProbe.enabled }}
          readinessProbe:
            initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
            timeoutSeconds: {{ .Values.readinessProbe.timeoutSeconds }}
            periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
            failureThreshold: {{ .Values.readinessProbe.failureThreshold }}
            successThreshold: {{ .Values.readinessProbe.successThreshold }}
            httpGet:
              path: {{ .Values.readinessProbe.httpGet.path }}
              port: {{ .Values.readinessProbe.httpGet.port }}
              scheme: {{ .Values.readinessProbe.httpGet.scheme }}
        {{- end }}
      volumes:
        - name: jwtsecret
          secret:
            secretName: {{ include "common.names.fullname" . }}
        - name: env-nodeport
          emptyDir: {}
        - name: configs
          configMap:
            name: {{ include "common.names.fullname" . }}
        {{- if not .Values.persistence.enabled }}
        - name: data
          emptyDir: {}
        {{- end }}
{{- if .Values.persistence.enabled }}
  volumeClaimTemplates:
    - metadata:
        name: data
        labels:
          {{- include "common.labels.statefulset" . | nindent 10 }}
      {{- with .Values.persistence.annotations }}
        annotations:
          {{ toYaml . | nindent 10 | trim }}
      {{- end }}
      spec:
        accessModes: {{ .Values.persistence.accessModes }}
        storageClassName: {{ .Values.persistence.storageClassName }}
        resources:
          requests:
            storage: {{ .Values.persistence.size | quote }}
{{- end }}
