{{- $root := . -}}
{{- range $i, $e := until (len $root.Values.global.executionEndpoints) }}
---
kind: StatefulSet
apiVersion: {{ include "common.capabilities.statefulset.apiVersion" $root }}
metadata:
  name: {{ include "common.names.fullname" $root }}-{{ $i }}
  labels:
    {{- include "common.labels.standard" $root | nindent 4 }}
    replicaID: {{ $i | quote }}
spec:
  selector:
    matchLabels:
      {{- include "common.labels.matchLabels" $root | nindent 6 }}
      replicaID: {{ $i | quote }}
  serviceName: {{ include "common.names.fullname" $root }}
  replicas: 1
  template:
    metadata:
      labels:
        {{- include "common.labels.matchLabels" $root | nindent 8 }}
        replicaID: {{ $i | quote }}
    spec:
    {{- with (concat $root.Values.imagePullSecrets $root.Values.global.imagePullSecrets) }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with $root.Values.affinity }}
      affinity:
        {{ toYaml . | nindent 8 | trim }}
    {{- end }}
    {{- with $root.Values.tolerations }}
      tolerations:
        {{ toYaml . | nindent 8 | trim }}
    {{- end }}
    {{- with $root.Values.nodeSelector }}
      nodeSelector:
        {{ toYaml . | nindent 8 | trim }}
    {{- end }}
    {{- with $root.Values.securityContext }}
      securityContext:
        {{ toYaml . | nindent 8 | trim }}
    {{- end }}
      serviceAccountName: {{ include "common.names.serviceAccountName" $root }}
      priorityClassName: {{ $root.Values.priorityClassName | quote }}
      {{- if or (and $root.Values.persistence.enabled $root.Values.initChownData) ($root.Values.p2pNodePort.enabled)  }}
      initContainers:
        {{- if $root.Values.p2pNodePort.enabled }}
        - name: init-nodeport
          image: "{{ $root.Values.p2pNodePort.initContainer.image.repository }}:{{ $root.Values.p2pNodePort.initContainer.image.tag }}"
          imagePullPolicy: {{ $root.Values.p2pNodePort.initContainer.image.pullPolicy }}
          securityContext:
            runAsNonRoot: false
            runAsUser: 0
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          command:
            - sh
            - -c
            - >
              echo "Namespace: ${POD_NAMESPACE} Pod: ${POD_NAME}";
          {{- if eq .Values.p2pNodePort.type "LoadBalancer" }}
              until [ -n "$(kubectl -n ${POD_NAMESPACE} get svc/${POD_NAME} -o jsonpath='{.status.loadBalancer.ingress[0].ip}')" ]; do echo "Waiting for load balancer gets an IP" && sleep 10; done;
              export EXTERNAL_PORT=$(kubectl -n ${POD_NAMESPACE} get services -l "pod in (${POD_NAME}), type in (p2p)" -o jsonpath='{.items[0].spec.ports[0].nodePort}');
              export EXTERNAL_IP=$(kubectl -n ${POD_NAMESPACE} get svc/${POD_NAME} -o jsonpath='{.status.loadBalancer.ingress[0].ip}');
          {{- else }}
              export EXTERNAL_PORT=$(kubectl get services -l "pod in (${POD_NAME}), type in (p2p)" -o jsonpath='{.items[0].spec.ports[0].nodePort}');
              export EXTERNAL_IP=$(kubectl get nodes "${NODE_NAME}" -o jsonpath='{.status.addresses[?(@.type=="ExternalIP")].address}');
          {{- end }}
              echo "EXTERNAL_PORT=$EXTERNAL_PORT" >  /env/init-nodeport;
              echo "EXTERNAL_IP=$EXTERNAL_IP"     >> /env/init-nodeport;
              cat /env/init-nodeport;
          volumeMounts:
            - name: env-nodeport
              mountPath: /env
        {{- end }}
        {{- if and $root.Values.persistence.enabled $root.Values.initChownData }}
        - name: init-chown
          image: "{{ $root.Values.initImage.repository }}:{{ $root.Values.initImage.tag }}"
          imagePullPolicy: {{ $root.Values.initImage.pullPolicy }}
          securityContext:
            runAsUser: 0
          command: ["chown", "-R", "{{ $root.Values.securityContext.runAsUser }}:{{ $root.Values.securityContext.runAsUser }}", "/data"]
          volumeMounts:
            - name: data
              mountPath: /data
        {{- end }}
      {{- end }}
      containers:
        - name: {{ $root.Chart.Name }}
          image: "{{ $root.Values.image.repository }}:{{ $root.Values.image.tag }}"
          imagePullPolicy: {{ $root.Values.image.pullPolicy }}
          command:
            - sh
            - -ac
            - >
            {{- if $root.Values.p2pNodePort.enabled }}
              . /env/init-nodeport;
            {{- end }}
              exec lighthouse
              bn
              --staking
            {{- if $root.Values.http.enabled }}
              --http
              --http-port={{ $root.Values.http.port }}
              --http-address={{ $root.Values.http.address }}
              --http-allow-origin={{ $root.Values.http.allowOrigin }}
            {{- end}}
              --execution-endpoint={{ index $root.Values.global.executionEndpoints $i }}
              --execution-jwt=/secret/jwtsecret
              --datadir=/data
              --network={{ $root.Values.global.network }}
              --disable-upnp
              --disable-enr-auto-update
              --target-peers={{ $root.Values.targetPeers }}
              --discovery-port={{ include "lighthouse.p2pPort" $root }}
            {{- if $root.Values.p2pNodePort.enabled }}
              --enr-address=$EXTERNAL_IP
              --enr-tcp-port=$EXTERNAL_PORT
              --enr-udp-port=$EXTERNAL_PORT
            {{- else }}
              --enr-address=$(POD_IP)
              --enr-tcp-port={{ include "lighthouse.p2pPort" $root }}
              --enr-udp-port={{ include "lighthouse.p2pPort" $root }}
            {{- end }}
            {{- if $root.Values.metrics.enabled }}
            {{- range $root.Values.metrics.flags }}
              {{ . }}
            {{- end }}
            {{- end }}
            {{- range $root.Values.extraFlags }}
              {{ . }}
            {{- end }}
          env:
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
          ports:
            - containerPort: {{ $root.Values.http.port }}
              protocol: TCP
              name: {{ $root.Values.http.portName }}
          {{- if $root.Values.metrics.enabled }}
            - containerPort: {{ $root.Values.metrics.port }}
              name: metrics
              protocol: TCP
          {{- end }}
          {{- if $root.Values.p2pNodePort.enabled }}
            - name: p2p-tcp
              containerPort: {{ include "lighthouse.p2pPort" $root }}
              protocol: TCP
            - name: p2p-udp
              containerPort: {{ include "lighthouse.p2pPort" $root }}
              protocol: UDP
          {{- end }}
          volumeMounts:
            - name: data
              mountPath: /data
            - name: jwtsecret
              mountPath: /secret
              readOnly: true
            {{- if $root.Values.p2pNodePort.enabled }}
            - name: env-nodeport
              mountPath: /env
            {{- end }}
        {{- with $root.Values.resources }}
          resources:
            {{ toYaml . | nindent 12 | trim }}
        {{- end }}
        - name: sidecar
          image: "{{ $root.Values.sidecar.repository }}:{{ $root.Values.sidecar.tag }}"
          imagePullPolicy: {{ $root.Values.sidecar.pullPolicy }}
          env:
            - name: SERVER_BINDADDR
              value: "{{ $root.Values.sidecar.bindAddr }}:{{ $root.Values.sidecar.bindPort }}"
            - name: CLIENT_PORT
              value: {{ $root.Values.http.port | quote }}
          ports:
            - containerPort: {{ $root.Values.sidecar.bindPort }}
              name: sidecar
              protocol: TCP
        {{- if or $root.Values.global.livenessProbe.enabled $root.Values.livenessProbe.enabled }}
          livenessProbe:
            initialDelaySeconds: {{ $root.Values.livenessProbe.initialDelaySeconds }}
            timeoutSeconds: {{ $root.Values.livenessProbe.timeoutSeconds }}
            periodSeconds: {{ $root.Values.livenessProbe.periodSeconds }}
            failureThreshold: {{ $root.Values.livenessProbe.failureThreshold }}
            successThreshold: {{ $root.Values.livenessProbe.successThreshold }}
            httpGet:
              path: {{ $root.Values.livenessProbe.httpGet.path }}
              port: {{ $root.Values.livenessProbe.httpGet.port }}
              scheme: {{ $root.Values.livenessProbe.httpGet.scheme }}
        {{- end }}
        {{- if or $root.Values.global.readinessProbe.enabled $root.Values.readinessProbe.enabled }}
          readinessProbe:
            initialDelaySeconds: {{ $root.Values.readinessProbe.initialDelaySeconds }}
            timeoutSeconds: {{ $root.Values.readinessProbe.timeoutSeconds }}
            periodSeconds: {{ $root.Values.readinessProbe.periodSeconds }}
            failureThreshold: {{ $root.Values.readinessProbe.failureThreshold }}
            successThreshold: {{ $root.Values.readinessProbe.successThreshold }}
            httpGet:
              path: {{ $root.Values.readinessProbe.httpGet.path }}
              port: {{ $root.Values.readinessProbe.httpGet.port }}
              scheme: {{ $root.Values.readinessProbe.httpGet.scheme }}
        {{- end }}
      volumes:
        - name: jwtsecret
          secret:
            secretName: {{ include "common.names.fullname" $root }}
      {{- if or (not $root.Values.persistence.enabled) ($root.Values.p2pNodePort.enabled) }}
        {{- if $root.Values.p2pNodePort.enabled }}
        - name: env-nodeport
          emptyDir: {}
        {{- end }}
        {{- if not $root.Values.persistence.enabled }}
        - name: data
          emptyDir: {}
        {{- end }}
      {{- end }}
{{- if $root.Values.persistence.enabled }}
  volumeClaimTemplates:
    - metadata:
        name: data
        labels:
          {{- include "common.labels.standard" $root | nindent 10 }}
      {{- with $root.Values.persistence.annotations }}
        annotations:
          {{ toYaml . | nindent 10 | trim }}
      {{- end }}
      spec:
        accessModes: {{ $root.Values.persistence.accessModes }}
        storageClassName: {{ $root.Values.persistence.storageClassName }}
        resources:
          requests:
            storage: {{ $root.Values.persistence.size | quote }}
{{- end }}

{{- end }}
