# Default values for oracle.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  serviceAccount:
    create: true

## Pod Security Context
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/
##
securityContext:
  fsGroup: 1001
  runAsUser: 1001

## Init image is used to chown data volume, initialise genesis, etc.
##
initImage:
  repository: "busybox"
  tag: "1.34"
  pullPolicy: IfNotPresent

fullnameOverride: ""

## Termination Grace Period
## ref: https://kubernetes.io/docs/tasks/run-application/force-delete-stateful-set-pod/#delete-pods
##
terminationGracePeriodSeconds: 300

## Affinity Settings
## ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
##
affinity: { }

## Toleration Settings
## ref: https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/
##
tolerations: [ ]

serviceAccount:
  ## Annotations to add to the service account
  ##
  annotations: {}
  ## The name of the service account to use.
  ## If not set and create is true, a name is generated using the fullname template
  ##
  name: ""

## Docker image
##
image:
  repository: "europe-west4-docker.pkg.dev/stakewiselabs/public/v3-operator"
  tag: "v0.1.7"
  pullPolicy: IfNotPresent
  pullSecrets: [ ]

## Configure resource requests and limits.
## http://kubernetes.io/docs/user-guide/compute-resources/
##
resources:
  requests:
    cpu: 10m
    memory: 200Mi

## Used to assign priority to pod
## ref: https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/
##
priorityClassName: ""

service:
  type: ClusterIP
  ports:
    http: 8000

settings:
  ## Possible values: goerli, gnosis, mainnet
  ##
  network: "goerli"

  # Address of the Vault to register validators for
  vaultContractAddress:  ""

  # API endpoint for the execution node
  executionEndpoint: ""
  # API endpoint for the consensus node
  consensusEndpoint: ""

  # Absolute path to the directory with all the encrypted keystores
  keystoresPath: "/keystores"
  # Password for keystores
  keystoresPassword: ""

  # Path to the deposit_data.json file
  depositDataPath: "/deposit/deposit_data.json"
  depositData: ""

  # Oracle Private Key
  oraclePrivateKey: ""

# Additonal volumes and mounts used to attach keystores from existing secret
# Example:
# additionalVolumes:
#   - name: keystores
#     secret:
#       secretName: keystores
# additionalMounts:
#   - name: keystores
#     mountPath: /keystores
additionalVolumes: []
additionalMounts: []

## If false, data ownership will not be reset at startup
## This allows the geth node to be run with an arbitrary user
##
initChownData: true

## Whether or not to allocate persistent volume disk for the data directory.
## In case of node failure, the node data directory will still persist.
##
persistence:
  enabled: true
  storageClassName: ""
  accessModes:
    - ReadWriteOnce
  size: 1Gi
