name: Docker

on:
  push:
    branches:
      - "!*"
    tags:
      - "v*"

jobs:
  docker:
    name: Build Docker Image
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout code
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: |
            europe-west4-docker.pkg.dev/stakewiselabs/public/validator-init
          tags: |
            type=ref,event=branch
            type=ref,event=tag
            type=sha
      -
        name: Login to GAR
        uses: docker/login-action@v1
        with:
          registry: europe-west4-docker.pkg.dev
          username: _json_key
          password: ${{ secrets.GAR_JSON_KEY }}
      -
        name: Build and Push Validator Init Image
        uses: docker/build-push-action@v2
        with:
          context: charts/operator/docker
          file: charts/operator/docker/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
